/*Bootstrap project style sheet*/ 
body,
html {
	width: 100%;
	height: 100%;
	background: url(startup.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1 {
	font-size: 3.5rem;
	color: white;
	margin-top: .5rem;
	animation-delay: .25s;
	text-shadow: .5rem .5rem black;
}

b:hover {
	color: #595770;
	cursor: pointer;
	transform: rotateZ(10deg);
}

.container {
	align-items: flex-start;
	max-width: 100%;
}

.btn-xl {
	border-radius: 5rem;
	box-shadow: .3rem .3rem #121117;
}

.btn-xl:hover {
	background-color: #595770;
	box-shadow: .75rem .75rem #121117;
	border-color: #595770;
	border-width: .25rem;
	color:white;

}

#btn1 {
	padding: 1rem 2rem;
	font-weight: 100rem;

}

#btn2 {
	padding: 1rem 2.5rem;
	font-weight: 100rem;
}

#btn3 {
	padding: 1rem .85rem;
	font-weight: 100rem;
}